#crocodile {
  max-width: 100vw;
  height: 20rem;
  width: auto;
  order: 1;
}

#crocodile:empty {
  width: 3rem;
  background: url(../assets/spinner.svg) no-repeat 50% 50%;
  background-size: contain;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#crocodile + img {
  opacity: 1;
  transition: opacity 0.5s;
}
#crocodile:empty + img {
  opacity: 0;
}

#crocodile > * {
  animation: fade-in 0.5s 0.2s both;
}
@keyframes fade-in {
  0% { opacity: 0; }
}
